doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")
		meta(charset="utf-8")

	body
		.email-container
			.email-header
				.email-center
					.email-top-line
						a.email-logo(href="//site.com")
							img(src="img/logo.png", alt="logo")
						.email-social-wrap
							a(href="#")
								img(src="img/soc_twitter.png", alt="twitter")
							a(href="#")
								img(src="img/soc_vk.png", alt="vk")
							a(href="#")
								img(src="img/soc_fb.png", alt="facebook")

					.email-header-top.
						Самое лучшее предложение <br>из всех, которые вы получали
					
					a.email-button(href="#") Подробнее
			
			.email-content
				.email-center
					.email-tizzer-wrap
						.email-tizzer-item
							img(src="img/icon_1.png", alt="icon")
							p У нас есть лапки
						.email-tizzer-item
							img(src="img/icon_2.png", alt="icon")
							p ... и бумажные <br>самолетики
						.email-tizzer-item
							img(src="img/icon_3.png", alt="icon")
							p Кроме того, у нас <br>есть чемодан
				
					.email-sale-text.
						Заказывая сейчас - получаете скидку

					.email-products-wrap
						.email-products-item
							img(src="img/items/1.jpg", alt="item")
							.mail.price 2000 руб
							a.product-button(href="#") Заказать
						.email-products-item
							img(src="img/items/2.jpg", alt="item")
							.mail.price 2000 руб
							a.product-button(href="#") Заказать
						.email-products-item
							img(src="img/items/3.jpg", alt="item")
							.mail.price 2000 руб
							a.product-button(href="#") Заказать
						.email-products-item
							img(src="img/items/4.jpg", alt="item")
							.mail.price 2000 руб
							a.product-button(href="#") Заказать
		
		.email.footer.
			ООО “Лучшее предложение” <a href="#"> Отписаться от рассылки</a>