@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 480px) {
    .icon, .header-logo, .left-part {
        display: none;
    }
    .header-logo-hidden{
    	display: block;
    }
    .icon-hidden{
    	display: block;
    }
	.header-top{
		font-size: 20px;
		padding: 30px 20px;
	}
	.header-container p{
		text-align: center;
	}
	.attention-section{
		margin: 50px 0
	}
	.table-cell-contaiber{
		font-size: 10px;
		letter-spacing: -1px;
		padding: 0;
	}
	.table-header{
		font-weight: 400
	}
}