doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")
		meta(charset="utf-8")
	body
		.body-container
			.center-container

				.header-container
					.header-top-line
						a(href="http://www.apq.org").header-logo
							img(src="img/logo.png", alt="logo APQ")
						.header-contacts
							p Tél : (514) 382-9670
							p Sans frais : 1-888-382-9670
							p Web site : <a href="http://www.apq.org">www.apq.org</a>
				
					.header-top ÉVALUATION APQ DES LOCATAIRES

				.attention-section.
					<span class = "bold-text">Attention :</span> il est strictement interdit de discuter ou de montrer le présent rapport d'évaluation au locataire et à quiconque. Contrevenir à cette confidentialité serait une violation des ententes que vous avez signées et pourrait contrevenir à la loi.
					Vous devez prendre tous les moyens nécessaires pour assurer la sécurité et la confidentialité des rapports et informations confidentielles.

				.rows-block.line
					.row-wrap.
						Numéro : 1503201703242
					.row-wrap.
						Date : 2017-03-15
					.row-wrap.
						Évaluation demandée par : Sotramont Inc Sylvia Vattelli (A15479) 


				.rows-block
					.row-wrap.
						Nom du locataire : Ward, Rachel 
					.row-wrap.
						Adresse : a-933, Ave Fortelles, Quebec (Québec) G1X3G7 


				.rows-block
					.block-header ALERTES/MESSAGES
					.uppercase-text.
						L'ADRESSE COURANTE NE CORRESPOND PAS AUX ADRESSES DU FICHIER


				.rows-block
					.block-header AUTHENTIFICATION DU PROPRIÉTAIRE ACTUEL 
					.row-wrap.
						Nom du propriétaire donné par le locataire : Place de Monnerie 
					.row-wrap.
						D'après le registre foncier du Québec, le véritable propriétaire du 933, Ave Fortelles, Quebec (Québec) G1X3G7 est : 9102 1428 Quebec Inc.


				.rows-block
					.block-header ANCIENNES ADRESSES CONNUES
					.uppercase-text.
						778 RANG MARIGOT, ISSOUDUN, (QC) G0S1L0 en August 2013


				.rows-block
					img(src="img/Banknotrequestedstatus.png", alt="icon").icon
					.block-header EXPÉRIENCE DE LOCATION
					.row-wrap.
						 Depuis combien de temps est-il locataire chez vous ? :	<span>3 ans</span>
					.row-wrap.
						Quel est le montant du loyer actuel ? : <span>568$</span>
					.row-wrap.
						Le locataire paie-t-il toujours le premier du mois ? : <span>OUI</span>
					.row-wrap.
						Si non, quand ? :
					.row-wrap.
						Combien a-t-il eu de retards de paiement ? : <span>0</span>
					.row-wrap.
						Une mise en demeure a-t-elle été envoyée au locataire ? : <span>NON</span>
					.row-wrap.
						Si oui, pourquoi ? :
					.row-wrap.
						Vous ou le locataire avez-vous introduit une demande à la Régie du logement ? :	<span>NON</span> 
					.row-wrap.
						Si oui, pourquoi ? :
					.row-wrap.
						Êtes-vous au courant que le locataire quitte son logement ? : <span>OUI</span>
					.row-wrap.
						Le logement est-il propre ? : <span>OUI</span>
					.row-wrap.
						Notes ou commentaires :
					img(src="img/chart.png", alt="chart")

				.rows-block.line
					.block-header EXPÉRIENCE DE LOCATION
					img(src="img/Banknotrequestedstatus.png", alt="icon").icon
					.italic-bold-text.
						Certaines informations peuvent être obtenues uniquement à partir du nom et du prénom de la personne. Ces informations sont ainsi à traiter avec prudence car il peut exister plusieurs personnes avec les mêmes noms et prénoms. N'hésitez pas à communiquer avec le service d'évaluation des locataires de l'Association des Propriétaires du Québec (APQ) pour de plus amples informations.
					.bold-text Dossiers criminels:
					.row-wrap Aucun dossier
					.bold-text Dossiers civils:
					.row-wrap Aucun dossier
					.bold-text Dossiers à la Régie du logement:
					.row-wrap Aucun dossier

				.rows-block
					a(href="http://www.seecliq.com/").header-logo
							img(src="img/1.jpg", alt="alt")
					a(href="https://www.apq.org/bottin-apq.aspx").header-logo
							img(src="img/2.png", alt="alt")
					.row-wrap.
						Complétez en ligne vos demandes d'évaluations pour un traitement plus rapide ( 
						<a href="https://fichiers.apq.com/">https://fichiers.apq.com</a>).
					.row-wrap.
						Pensez à afficher vos logements à louer sur 
						<a href="http://www.seecliq.com/">SeecliQ</a> et propulsez vos annonces sur Facebook, Twitter, CraigsList, LogisQuébec et Kijiji
					.row-wrap.
						<a href="https://fichiers.apq.com/">Complétez en ligne vos demandes d'évaluations pour un traitement plus rapide.</a>
			
					
		


