/* font-family: "CircularStr"; */
@font-face {
	font-family: "Futura";
	src: url("../fonts/Futura/Futura.eot");
	src: url("../fonts/Futura/Futura.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Futura/Futura.woff") format("woff"),
	url("../fonts/Futura/Futura.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Futura-Bold";
	src: url("../fonts/Futura-Bold/Futura-Bold.eot");
	src: url("../fonts/Futura-Bold/Futura-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Futura-Bold/Futura-Bold.woff") format("woff"),
	url("../fonts/Futura-Bold/Futura-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}