/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.progress{
		width: 670px;
	}
	.ready-point1 {
		left: 170px;
	}
	.point2 {
		left: 470px;
	}
	.point3 {
		right: 155px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header{
		height: 180px;
	}
	.logo{
		margin: 0 auto 20px;
	}
	.form-wrap{
		position: relative;
	}
	.form-wrap form{
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
	}


	.section1{
		height: 640px;
	}
	.section1 h1{
		margin: 0;
	}
	.round-item{
		margin-top: 35px;
	}
	.round-item:hover{
		width: 112px;
		height: 112px;
		margin-top: 35px;
		padding-top: 0;
	}


	.animate-item{
		width: 450px;
	}

	.overlay-icon{
		height: 120px;
		width: 120px;
	}
	

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	header{
		height: 250px;
	}
	.form-wrap form{
		width: 300px;
		padding: 2px 12px;
		position: relative;
	}
	.mch-input{
		width: 265px;
	}
	.mch-button{
		position: absolute;
		top: 65px;
		left: 0;
		width: 300px;
		height: 45px;
	}

	
	.section1{
		padding-top: 20px;
		height: 680px;
	}
	.section1 h1{
		font-size: 30px;
	}
	.content-wrap{
		padding: 25px 25px 25px;
	}

	.email-xs, .social-xs{
		width: 100%;
	}
	.email-wrap{
		text-align: center;
	}
	.social-cont{
		text-align: center;
		margin-top: 20px;
	}

	.animate-item{
		width: 300px;
	}
	.animate-item p {
		font-size: 12px;
	}

	.overlay-icon{
		height: 80px;
		width: 80px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}