/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.center-section{
		padding-top: 30px;
	}
	.slide{
		width: 310px;
		height: 50px;
	}
	.slide h2{
		font-size: 20px;
	}
	.slide h3{
		font-size: 16px;
	}



	.form{
		margin-top: 40px;
		width: 300px;
	}
	.form h5{
		padding: 0 20px;
		text-align: center;
	}
	.email-input{
		width: 300px !important;
		position: relative;
		border-radius: 4px 4px 4px 4px !important;
		margin-bottom: 20px;
		left: 0;
	}
	.button{
		width: 300px !important;
		position: relative !important;
		border-radius: 4px 4px 4px 4px !important;
	}



	footer {
		font-size: 16px;
	}
	footer a{
		padding: 0 8px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}