$font-main: bio-sans;

$color-dark: #313131;
$color-gray: #707070;
$color-light: #F0F0F0;
$color-super-light: #EEEEEE;
$color-white: #FFFFFF;

$font-size-large: 48px;
$font-size-middle: 20px; // 24?
$font-size-small: 14px;
