doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")
		meta(charset="utf-8")
	body
		.body-container
			.center-container
				.row-block
					.left-part
						a(href="http://www.apq.org").header-logo
							img(src="img/logo.png", alt="logo APQ")
					.right-part
						.header-container
							p Tél : (514) 382-9670 </br>
							p Sans frais : 1-888-382-9670 </br>
							p Web site : <a href="http://www.apq.org">www.apq.org</a>
					
							.header-top ÉVALUATION APQ DES LOCATAIRES

				.row-block
					.left-part

					.right-part
						.attention-section.
							<span class = "bold-text">Attention :</span> il est strictement interdit de discuter ou de montrer le présent rapport d'évaluation au locataire et à quiconque. Contrevenir à cette confidentialité serait une violation des ententes que vous avez signées et pourrait contrevenir à la loi. Vous devez prendre tous les moyens nécessaires pour assurer la sécurité et la confidentialité des rapports et informations confidentielles.

				.row-block
					.left-part

					.right-part
						.rows-block.line
							.row-wrap.
								Numéro : 12315748531
							.row-wrap.
								Date : 2017-03-15
							.row-wrap.
								Évaluation demandée par : Romaric Fabre (A23144545)


				.row-block
					.left-part

					.right-part
						.rows-block.line
							.row-wrap.
								Nom du locataire : Tremblay, Martin  
							.row-wrap.
								Adresse : 225 rue des acacias, Repentigny (Québec) J6A 4B8 


				.row-block
					.left-part

					.right-part
						.rows-block.line
							.block-header ALERTES/MESSAGES
							.uppercase-text.
								L'ADRESSE COURANTE NE CORRESPOND PAS AUX ADRESSES DU FICHIER


				.row-block
					.left-part
						.icon
							img(src="img/Banknotrequestedstatus.png", alt="icon")
					.right-part
						.rows-block.line
							.block-header AUTHENTIFICATION DU PROPRIÉTAIRE ACTUEL 
							.row-wrap.
								Nom du propriétaire donné par le locataire : Martin Pierre
							.row-wrap.
								D'après le registre foncier du Québec, le véritable propriétaire du 225 rue des acacias, Repentigny (Québec) J6A 4B8 est : Luc Bergeron 


				.row-block
					.left-part
						.icon
							img(src="img/Banknotrequestedstatus.png", alt="icon")
					.right-part
						.rows-block.line
							.block-header ANCIENNES ADRESSES CONNUES
							.uppercase-text.
								1010 rue des pierres, Lachute (QC) G0S1L0 en Mars 2013


				.row-block
					.left-part
						.icon
							img(src="img/Banknotrequestedstatus.png", alt="icon")
					.right-part
						.rows-block.line
							.block-header EXPÉRIENCE DE LOCATION (Propriétaire actuel)
							.row-wrap.
								 Depuis combien de temps est-il locataire chez vous ? :	<span>5 ans</span>
							.row-wrap.
								Quel est le montant du loyer actuel ? : <span>668$</span>
							.row-wrap.
								Le locataire paie-t-il toujours le premier du mois ? : <span>OUI</span>
							.row-wrap.
								Si non, quand ? :
							.row-wrap.
								Combien a-t-il eu de retards de paiement ? : <span>0</span>
							.row-wrap.
								Une mise en demeure a-t-elle été envoyée au locataire ? : <span>NON</span>
							.row-wrap.
								Si oui, pourquoi ? :
							.row-wrap.
								Vous ou le locataire avez-vous introduit une demande à la Régie du logement ? :	<span>NON</span> 
							.row-wrap.
								Si oui, pourquoi ? :
							.row-wrap.
								Êtes-vous au courant que le locataire quitte son logement ? : <span>OUI</span>
							.row-wrap.
								Le logement est-il propre ? : <span>OUI</span>
							.row-wrap.
								Notes ou commentaires :
							img(src="img/chart.png", alt="chart")

				
				.row-block
					.left-part
						.icon
							img(src="img/Banknotrequestedstatus.png", alt="icon")
					.right-part
						.rows-block.line
							.block-header EMPLOI
							.row-wrap.
								 Entreprise : <span>TRANSPORT EN VRAC</span>
							.row-wrap.
								Quel est le poste occupé ? : <span>Chauffeur</span>
							.row-wrap.
								Depuis quand est-il à l'emploi de votre entreprise ? : <span>2011-07-15</span>
							.row-wrap.
								Quel est son taux horaire ? : <span>22.00$</span>
							.row-wrap.
								Combien d'heures par semaine travaille-t-il ? : <span>40.0</span>
							.row-wrap.
								Poste permanent
							.row-wrap.
								Poste à temps plein
							.row-wrap.
								Avez-vous des mises à pied de prévues ? :	<span>NON</span> 
							.row-wrap.
								Réengageriez-vous cet employé s'il venait à quitter son emploi ? : <span>OUI</span>
							.row-wrap.
								Est-il un bon employé ? : <span>OUI</span>
							.row-wrap.
								Notes :


				.row-block
					.left-part

					.right-part
						.rows-block.line
							.block-header BANQUE
							.row-wrap.
								La banque a refusé de répondre aux questions 


				.row-block
					.left-part
						.icon
							img(src="img/Banknotrequestedstatus.png", alt="icon")
					.right-part
						.rows-block.line
							.block-header ARCHIVES PUBLIQUES
							.italic-bold-text.
								Certaines informations peuvent être obtenues uniquement à partir du nom et du prénom de la personne. Ces informations sont ainsi à traiter avec prudence car il peut exister plusieurs personnes avec les mêmes noms et prénoms. N'hésitez pas à communiquer avec le service d'évaluation des locataires de l'Association des Propriétaires du Québec (APQ) pour de plus amples informations.
							.bold-text Dossiers criminels:
							.row-wrap Aucun dossier
							.bold-text Dossiers civils:
							.row-wrap Aucun dossier
							.bold-text Dossiers à la Régie du logement:
							.row-wrap Aucun dossier

				
				.row-block
					.left-part

					.right-part
						.rows-block.line
							.block-header INFORMATIONS SUR LES OPÉRATIONS À CRÉDIT
							.row-wrap.
								Le candidat paie tous ses comptes de crédit à temps, avec actuellement un crédit utilisé à hauteur de 3535$ sur un crédit potentiel de 9000$.  



				.row-block
					.left-part

					.right-part
						.rows-block
							a(href="http://www.suivremesappels.com/").footer-image
									img(src="img/1.png", alt="alt")
							a(href="http://www.suivremesappels.com/").footer-image
									img(src="img/1.png", alt="alt")
							.row-wrap.
								Complétez en ligne vos demandes d'évaluations pour un traitement plus rapide ( 
								<a href="https://fichiers.apq.com/">https://fichiers.apq.com</a>).
							.row-wrap.
								Pensez à afficher vos logements à louer sur 
								<a href="http://www.seecliq.com/">SeecliQ</a> et propulsez vos annonces sur Facebook, Twitter, CraigsList, LogisQuébec et Kijiji
							.row-wrap.
								<a href="https://fichiers.apq.com/">Complétez en ligne vos demandes d'évaluations pour un traitement plus rapide.</a>
			
					
		


