/*! Place your custom styles here */


.course-header-text {
    margin-bottom: 25px!important;
}

.profession-block {
    height: 300px;
}

.course-category li{
    height: 2.78571429em;
    opacity: 1!important;
}
.course-category span{
    line-height: 1!important;
    
    font-size: 1em!important;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
}

.text-input::-webkit-input-placeholder {color:#666!important; opacity: 1; font-weight: 400; font-size: 1em!important;}
.text-input::-moz-placeholder {color:#666!important; opacity: 1; font-weight: 400; font-size: 1em!important;}
.text-input::-moz-placeholder {color:#666!important; opacity: 1; font-weight: 400; font-size: 1em!important;}
.text-input::-ms-input-placeholder {color:#666!important; opacity: 1; font-weight: 400; font-size: 1em!important;}

.course-card__bottom-child-wrap{
	width: 100%!important;
}



.course-header-title{
	margin-top: 60px;
}
.course-header-items{
	margin-top: 60px!important;
}
.course-header-item{
	min-height: 9em;
}
.course-round-number-grey{
	background-color: #898989!important;
	border-color: #555555!important;
}
.course-round-number-grey > span{
	color: #555555!important;
}


